<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
	      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/zombie_icon.png') }}" type="image/png">
    </head>
    <body>
      {% if g.user %}
        <p class="logged-user">Welcome, {{ g.user }}!</p>
        <a href="logout"><input type="button" id="logout-button" name="logout-button" value="Logout"></a>
        <a href="account"><input type="button" id="user-profile" name="user-profile" value="Account"></a>
      {% endif %}
      <a href="/" class="main-page"><img src="{{url_for('static',filename='img/zombie-icon-transparent.png')}}"></a>
        <nav>
          <ul>
            <li><a href="register">How to Play</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="highestscores">Highest scores</a></li>
          </ul>
        </nav>
        <a href="register"><input type="button" id="sign-up-button" name="sign-up-button" action="register" value="SIGN UP"></a>
        <a href="login"><input type="button" id="login-button" name="login-button" action="login" value="LOG IN"></a>
        <div class="container">
          <div class="content">
            <p>Hi my name is Przemysław Sadurski and currently I am the only developer of this project.
              I've graduated Information Technology at Wydział Elektrotechniki i Informatyki of Politechnika Lubelska
              and got myself an engineer title. I have a lot of passion for programming, gaming, and technical novelties.
              This project started because of my dream to become professional programmer with a little dose of love towards
              computer games. This project isn't about earning income, it's about getting more experience and the side effect
              of that is the game that everyone can enjoy with their friends. 
            </p>
            <br>
            </br>
            <p>As of my programming skills i'm currently working mostly in Python, but my mentality is:
              The more you know, your skills and possibilities grow, so i'm open minded to learn new technologies.
              Below I've listed my current technological stack.
            </p>
            <span>HTML<br>CSS<br>JS<br>Python<br>C#<br>C++<br>MySQL<br>MSSQL<br>SQLite<br>GIT<br></span>
          </div>
        </div>
        <footer>
          <a class="author-link" href="portfolio">
          <li class="author-container">Created by:</li>
          <li class="author-container"><span class="author">Przemysław Sadurski</span></li>
          </a>
        </footer>
      </body>
</html>
