<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
	      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gallery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/zombie_icon.png') }}" type="image/png">
    </head>
    <body>
        {% if g.user %}
        <p class="logged-user">Welcome, {{ g.user }}!</p>
        <a href="logout"><input type="button" id="logout-button" name="logout-button" value="Logout"></a>
        <a href="account"><input type="button" id="user-profile" name="user-profile" value="Account"></a>
        {% endif %}
        <a href="/" class="main-page"><img src="{{url_for('static',filename='img/zombie-icon-transparent.png')}}"></a>
        <nav>
          <ul>
            <li><a href="register">How to Play</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="highestscores">Highest scores</a></li>
          </ul>
        </nav>
        <a href="register"><input type="button" id="sign-up-button" name="sign-up-button" action="register" value="SIGN UP"></a>
        <a href="login"><input type="button" id="login-button" name="login-button" action="login" value="LOG IN"></a>
        <div class="container">
            <div class="gallery">
                <a href="#"><img src="{{ url_for('static', filename='img/test.png') }}" alt="Image 1"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/test.png') }}" alt="Image 2"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/test.png') }}" alt="Image 3"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/test.png') }}" alt="Image 4"></a>
            </div>
        </div>
        <footer>
          <a class="author-link" href="portfolio">
          <li class="author-container">Created by:</li>
          <li class="author-container"><span class="author">Przemysław Sadurski</span></li>
          </a>
        </footer>
      </body>
</html>
