<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
	      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Zombie - Apocalypse</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/zombie_icon.png') }}" type="image/png">
    </head>
    <body>
        <nav>
          <ul>
            <li><a href="register">How to Play</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="community">Community</a></li>
            <li><a href="highestscores">Highest scores</a></li>
          </ul>
        </nav>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc mi. Aenean euismod libero nec efficitur porta. Quisque efficitur odio ex, a porttitor felis lobortis et. Curabitur vel ipsum gravida, blandit libero a, ullamcorper enim. Sed aliquet aliquam ex sit amet pulvinar. Quisque fringilla quam magna, sed ultricies elit luctus ut. Vivamus suscipit ornare porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac massa eget diam dictum luctus et sit amet mauris. Nullam condimentum sapien id velit rutrum imperdiet. Suspendisse eu neque semper, molestie nunc vehicula, maximus odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et scelerisque augue. Nam eleifend ex ac gravida consequat. Pellentesque luctus maximus nulla ut laoreet. Nulla congue dignissim mi at condimentum.

Sed maximus, risus id feugiat ullamcorper, lorem nulla aliquam lorem, at ornare nisl diam ac dolor. Suspendisse volutpat sem in erat bibendum, a sodales odio venenatis. Cras ligula justo, luctus at maximus at, malesuada sed quam. Cras euismod ullamcorper auctor. Aenean laoreet, nisl ut dignissim suscipit, leo sem hendrerit metus, ac tempus metus urna vitae nulla. Aliquam erat volutpat. Pellentesque ac commodo urna. Aenean tempus mauris vel auctor viverra. Curabitur porttitor nec massa eget vehicula. Fusce consequat lectus erat, at blandit augue pretium sed. Duis quam tortor, iaculis facilisis ex vitae, cursus aliquet erat.

Suspendisse et velit diam. Donec eu sagittis nulla. Nullam rhoncus feugiat sem, et sodales turpis pellentesque vitae. Sed maximus eleifend dignissim. Vivamus gravida pretium orci, nec molestie felis consectetur sed. Morbi commodo tortor quis arcu vestibulum porta. Curabitur in dui diam. Aliquam pretium erat vel sodales consectetur. Morbi sit amet rutrum neque.

In nunc risus, finibus vel faucibus nec, tincidunt vitae ipsum. Nam ullamcorper lacinia nisi in suscipit. Nam at lorem a libero pretium hendrerit sit amet vel mauris. Suspendisse laoreet pulvinar metus, ac vulputate magna dapibus eu. Curabitur consequat porta nunc, at aliquam odio placerat eu. Vestibulum malesuada at justo ac placerat. Fusce ac nisl sed neque pulvinar elementum elementum vitae nulla. Sed ullamcorper est eu commodo ornare. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Nulla sollicitudin tincidunt mi, id bibendum nibh sagittis non. Vivamus congue auctor neque, non condimentum dui pretium et. Curabitur commodo facilisis mi non posuere. Duis varius bibendum convallis. Cras luctus orci sed nisi sodales hendrerit. Donec non mauris at dui vestibulum aliquam. Vivamus sed dolor malesuada neque condimentum molestie a facilisis libero. Cras in neque dolor. Vestibulum eget purus at quam posuere vestibulum. Fusce ac tellus nec quam efficitur bibendum sed eu libero. Quisque eu massa libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse pretium nisi ut ex rutrum, consequat pellentesque purus tempor.

Cras efficitur libero sit amet sodales lacinia. In molestie eget arcu in tempus. Duis porttitor eget ante sed pretium. Vivamus nec malesuada mauris. Integer sagittis laoreet augue, in vulputate odio. Donec auctor sem sit amet mi pellentesque, in finibus sem pulvinar. Donec pellentesque massa in congue cursus. Ut enim elit, hendrerit tincidunt fermentum non, venenatis sed orci. Suspendisse at malesuada nunc, eget blandit libero. Suspendisse dictum dui a ligula scelerisque, ut lacinia erat vestibulum. Proin vestibulum porta elementum. Nunc efficitur tempor turpis semper molestie. Sed efficitur, nulla semper tempus faucibus, leo augue gravida velit, sit amet iaculis eros libero eget nisi. Phasellus facilisis arcu quis tincidunt maximus.

Pellentesque maximus pretium tellus, vitae posuere libero faucibus at. Proin eleifend est et nisi eleifend maximus. Mauris vitae malesuada dui, ac vestibulum lorem. Sed pellentesque fermentum urna vitae scelerisque. Nam sit amet nunc ipsum. Nunc egestas sapien in ex maximus, vitae dictum urna viverra. Phasellus molestie, diam vitae lacinia scelerisque, est dui venenatis arcu, eu venenatis mi nunc non neque.

Mauris vestibulum rutrum diam, eget molestie leo blandit et. Nulla fringilla vehicula luctus. Maecenas luctus dui ac lorem finibus viverra. Curabitur sit amet odio non odio finibus euismod vitae cursus justo. Nam mauris quam, tincidunt ac pulvinar ut, finibus sit amet arcu. Vestibulum lacus dolor, iaculis vel ante sit amet, lobortis iaculis dui. Duis venenatis metus eu semper accumsan. Vivamus et pretium dolor. Vivamus fermentum, arcu sit amet ullamcorper tempor, dui orci fringilla tellus, eu mollis lorem urna ac ex. Suspendisse sed pellentesque augue, et mollis est. Fusce et mi non lacus congue malesuada.

Vestibulum non orci placerat, dapibus urna ac, finibus felis. Integer quis sapien eget orci molestie tempus. Fusce rutrum elementum lectus, vitae sodales elit laoreet sed. Vivamus faucibus in nulla sed tempus. Fusce ligula velit, facilisis quis mollis sed, facilisis ac massa. Integer nec elementum ex. Sed facilisis nec ex quis tempor. Vivamus fermentum sem libero, ac scelerisque diam gravida ac. Sed sed neque suscipit, aliquam felis ullamcorper, porttitor neque. Morbi urna felis, faucibus sit amet placerat sodales, hendrerit quis erat. Mauris ut sagittis orci. Curabitur varius pretium erat vel sodales. Donec tempor rhoncus tellus, et aliquam felis placerat et. Sed malesuada ex mi, a feugiat felis luctus ac.

Aliquam erat volutpat. Quisque ut faucibus ex, nec tincidunt elit. Aliquam erat volutpat. In facilisis ultricies nisi, molestie efficitur purus finibus eu. Aenean mollis velit odio, id blandit turpis ultrices at. Aliquam erat ex, dictum ut tincidunt vitae, pulvinar ut nisl. In interdum eu sem sit amet efficitur.
        </div>
        <footer>
          <a class="author-link" href="portfolio">
          <li class="author-container">Created by:</li>
          <li class="author-container"><span class="author">Przemysław Sadurski</span></li>
          </a>
        </footer>
      </body>
</html>
